// COLOUR PALETTE
$primary-color-bg: #F2E9E4;
$secondary-color-bg: #9A8C98;
$tertiary-color-accent: #4A4E69;

$primary-color-text: #22223B;
$secondary-color-text: #4A4E69;

// FONT STYLE
$main-font-family: 'Courier Prime', monospace;
$secondary-font-family: 'Libre Franklin', sans-serif;